PORT=3000

GEMINI_API_KEY=PUT_YOUR_GEMINI_KEY_HERE

GOOGLE_CLIENT_ID=PUT_YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=PUT_YOUR_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_REDIRECT_URI=http://127.0.0.1:3000/oauth2callback
